/* .weekday {
	display: flex;
	text-align: center;
	flex-direction: row;
	justify-content: space-evenly;
	font-family: Bitter;
	color: #fbfbfb;
	background: #a05c50;
}

#nav a {
	text-decoration: none;
	color: #fbfbfb;
	font-weight: 200;
	font-style: italic;
	line-height: 79px;
	font-size: 25px;
}

#nav .active {
	color: white;
	font-weight: 700;
	line-height: 79px;
	font-size: 30px;
	font-style: normal;
}

.sticky {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
} */

.navbutt {
	padding: 0;
	border: none;
	background: none;
	position: absolute;
	left: 87.49%;
	right: 6.25%;
	top: 1rem;
}

.menu {
	background-color: white;
	border-radius: 8px;
	position: absolute;
	top: 70px;
	right: 0;
	width: 100%;
	box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
	opacity: 0;
	visibility: hidden;
	transform: translateY(-20px);
	transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s;
}

.menu.active {
	opacity: 1;
	visibility: visible;
	transform: translateY(0);
}

.menu-container {
	display: none;
	@media only screen and (min-width: 425px) {
		position: relative;
	}
}
